h1 {
  text-align: center;
  color: cornflowerblue;
}

img {
  display: block;
  width: 600px;
  max-width: 100%;
  margin: 15px auto;
}

main {
  max-width: 100%;
  padding: 0 15px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

.card-title {
  text-align: left important!;
}

.button-flex {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.btn-primary {
  margin-bottom: 10px; 
}

.btn-primary > a {
  color: white;
  text-decoration: none;
}

button.btn.btn-info {
  margin-bottom: 5px;
}

.form-check {
  margin-left: 3vw;
  margin-top: 3vh;
}

button.btn.btn-info {
  margin-top: 1em;
}